
@{
    ViewBag.Title = "Help";
}
<br />
<br />
<h2>Help</h2>
<link href="~/Content/Help.css" rel="stylesheet" />



<div>
    <h2>What is Vgather?</h2>
    <p>Vgather automates marketing, registration, coordinsation and scheduling of events.Say goodbye to the days of costly, unwanted deliveries, delays or disruptions caused by ordering mistakes or last-minute changes</p>
</div>
<div class="about-section">
    <details>
        <summary><b>How to Register</b></summary>
        <p> STEP 1: Visit www.Vgather.com website.</p>
        <p> STEP 2:Go to  in Register in the Home page</p>
        <p> STEP 3: Click on the Register.It open the Register page</p>
        <p> STEP 4: Now Fill your details to be part of our Vgather</p>
    </details>
</div>
<br />
<div class="about-section">
    <details>
        <summary>
            <b>Which type of services Can I expect from the event organizers</b>
        </summary>
        <li>Catering </li>
        <li>Anchoring & Hosting</li>
        <li>Games & shows </li>
        <li>Furniture rental </li>
        <li>DJ</li>
        <li>Decoration (flower, balloon, themed decoration, etc)</li>
        <li>Sound and lighting</li>
        <li>Electrical appliance rental</li>
        <li>Photography</li>
        <li>Tents and tarpaulins rental </li>
        <li> Invitations</li>
    </details>
    <br />
</div>
<div class="about-section">
    <details>
        <summary><b>Which type of shows do the event organisers arrange?</b></summary>
        <p> Event organizers arrange a wide range of shows. The list of shows for which you can hire an event organizer includes dance shows, mimicry show, puppet show, game show, music show, magic show, and many others.</p>
    </details>
    <br />
</div>
<div class="about-section">
    <details>
        <summary><b>How to Update Contact List?</b></summary>
        <p> STEP 1: Go to Contact in the profile</p>
        <p> STEP 2: Click on the Contact.It open the Contact page</p>
        <p> STEP 3: Now Update/Edit your Contact</p>
    </details>
    <br />
</div>
<div class="about-section">
    <details>
        <summary><b>How much do the event organisers charge?</b></summary>
        <p>
            The charges of hiring event organizing services depend on some factors like the type of the event,
            place, type of services, expertise, and experience of the event organizer and many others.
        </p>
    </details>

</div>
<br />
<div>
    <p>For any Complaince.please contact our customer support team</p>
    <p><b>For Contact:</b>8666686666</p>
    <p><b>Mail Id:</b> customercare@vgather.com</p>
</div>
